<h1>Recept könyv</h1>
<br />
<blockquote>
    Ebbe a receptkönyvbe gyűjtheted a receptjeidet, amiket találsz az évek során, mialatt csodálatos házimanó válik belőled.
    A kedvenc receptjeidet is megjelölheted, ha különleges lakomát kívánsz összerakni vendégeidnek, vagy akár saját magadnak!
</blockquote>
<br />
<div class="list-group">
  <a href="/auth/login" class="list-group-item">
    Bejelentkezés
  </a>
</div>